<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataFrame Display</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <!-- Bootstrap CSS (optional but recommended for styling) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        
        .vertical-center {
          margin: 0;
          position: absolute;
          left: 50%;
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        </style>
</head>
<body>

    <div class="container mt-4">
        <h1>Parsed data</h1>
        <p>Your data is now parsed and ready for upload to upload. Before you upload it completely, please take a look at the upload 
            summary below. If needed, you can inspect the raw data tables below the summaries. 
            <br>
            If not needed and you are sure that the data is correct, scroll to the buttom and press the confirm button.</p>
            <br>
            
                <h2 align="center">Summaries</h2>
            
                {% for summary in summaries %}
                    <div class="table-responsive">
                        {{ summary|safe }}
                    
                       
                    </div>
        
                {% endfor %}
                

            
    </div> 
    <br>
        <br>
    <div class="container-fluid">
        <h2 align="center">All data</h2>
       
        {% for clean_sheet in clean_sheets %}
        <div class="table-responsive">
            {{ clean_sheet|safe }}
        </div>       
        <br>   
        {% endfor %}  
        <br>
        <br>
        <div class="vertical-center">
            <form action="/cancel_upload" method="post" enctype="multipart/form-data">
                    <button type="submit" >Cancel</button>
              
            </form>
            <br>
            <form action="/confirmed" method="post" enctype="multipart/form-data">
                <div class="vertical-center">
                    <button type="submit">Confirm</button>
                </div>
                    
              
            </form>
        
            


        </div>
        
        <br>
        <br>
        
    </div>
    <br>
        <br>
        <br>
        <br>
    </div> 

    

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Initialize DataTables
            $('table').DataTable({
                "paging": true,
                "searching": true
                // "scrollX": true
            });
        });
    </script>
</body>
</html>
