<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandas DataFrame Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Center align content within the container */
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>Parsed data</h1>
        <p>You date is now parsed and ready for upload to the following tables in the database:   
            {% for table in table_names %}
                <li><a href="#{{ table }}">{{ table }}</a></li>
            {% endfor %}
            <br>
            Click the links above to see what data goes into what table, and confirm that you want to upload it all, by pressing the confirm button on the buttom of the page. 
            If it looks wrong, press cancel and make sure you chose the correct format settings on the previous page.
            Otherwise contact admin for help.
        </p>
        <!-- Embedded DataFrame HTML -->
        {% for clean_sheet in clean_sheets %}
            {{ clean_sheet|safe }}
        {% endfor %}  
        
        
    </div>

    <form action="/confirmed" method="post" enctype="multipart/form-data">
        <div class="centered">
            <button type="submit">Confirm</button>
        </div>
    </form>

    <form action="/cancel_upload" method="post" enctype="multipart/form-data">
        <div class="centered">
            <button type="submit">Cancel</button>
        </div>
    </form>
</body>
</html>