<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandas DataFrame Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Center align content within the container */
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>Failed data validaton</h1>
        <p>Your data contains values that are not allowed. See below which values caused the error and click here to see which values are allowed: <a href="#allowed_values">Allowed values</a></p>
        
            <br>

        <h2>Bad values</h2>
        <!-- Embedded DataFrame HTML -->
        {% for failed_validation in validation_results %}
            {% for bad_values in failed_validation["bad_values"] %}
                {{ bad_values|safe }}
            {% endfor %}
        {% endfor %}
        <h2 id="allowed_values">Allowed values</h2>
        <p>Here are the allowed values: </p>
        {% for failed_validation in validation_results %}
            {% for allowed_values in failed_validation["allowed_values"] %}
                {{ allowed_values|safe }}
            {% endfor %} 
        {% endfor %}  
        
        
    </div>
</body>
</html>