<h2>!!!ATTENTION!!!</h2>
<p>DO NOT NAVIGATE AWAY FROM THIS PAGE BY USING THE ARROWS IN YOUR BROWSER! USE THE BUTTON BELOW.</p>
<br>
<br>
<h3>Error</h3>
<p>An error has occured while trying to process your request and no data was uploaded to the database. 
    Send the "Traceback" below to {{ admin }} if you need help resolving the error</p>
<br>
<form action="/" method="post" enctype="multipart/form-data">
    <div class="centered">
        <button type="submit">To Homepage</button>
    </div>
</form>
<br>
{{ error_message|safe }}
