<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta data spreadsheet upload</title>
</head>
<body>
    <h1>Meta data spreadsheet upload</h1>
    READ MANUAL BEFORE UPLOADING:
    <br>
    <a href="/download_manual" download>Download Manual (PDF)</a>
    <br>
    It contains important information about what data you can upload and what happens to it when uploading.
    <br>
    <br>
    To help you upload correctly formatted meta data sheets that the database will accept, here are some 
    example sheets to help you:
    <br>
    <a href="/download_robot_sampling_edna_example_sheet" download>Robot sampling eDNA.xlsx</a>
    
    <br>
    <br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a .txt file to upload:</label>
        <input type="file" name="file" accept=".txt" required>
        <br>

        <label for="database_table_name">Select spreadsheet type:</label>
        <select name="database_table_name" id="database_table_name" required>
            <option value="no_choice"></option> 
            <option value="field_sample">Field sampling</option>
            <option value="archive_sample">Archive sampling</option>
            <option value="robot_sample">Robot sampling eDNA</option>
            <option value="edna_wetlab_report">eDNA Wet lab final report</option>
            <option value="adna_wetlab_report">aDNA Wet lab final report</option>
            <option value="cgg_sediment">CGG Sediment</option>
            <option value="cgg_animal_plant">CGG Plant Animal</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        
        <label for="date_format">Select date format:</label>
        <select name="date_format" id="date_format" required>
            <option value="no_choice"></option> 
            <option value="dmy">DD-MM-YYYY</option> 
            <option value="ymd">YYYY-MM-DD</option>
        </select>
        <br>
        The datebase is setup to accept dates with "-" as seperators, but other seperators might also work.
        <br>
        
        <label for="decimal_point">Select decimal point character used for numeric data:</label>
        <select name="decimal_point" id="decimal_point" required>
            <option value="no_choice"></option> 
            <option value="europe">,</option> 
            <option value="non-europe">.</option>
            <option value="none">My sheet does not contain decimals</option>
        </select>
        <br>        
        <label for="decimal_point">Select thousands seperator character used for numeric data:</label>
        <select name="decimal_point" id="decimal_point" required>
            <option value="no_choice"></option> 
            <option value="europe">.</option> 
            <option value="non-europe">,</option>
            <option value="none">My sheet does not contain thousands seperators</option>
        </select>
        <br>
        <style>
            .centered {
            margin-left: auto;
            margin-right: auto;
            width: 50%; /* Adjust the width as needed */
        }
        </style>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="centered">
            <button type="submit">Upload</button>
        </div>
        
    </form>
    <br>
    
</body>
</html>
