<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta data spreadsheet upload</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Centralized CGG meta database spreadsheet upload interface</h1>
    READ AND UNDERSTAND THE FOLLOWING THOROUGHLY BEFORE UPLOADING:
    <br>
    <a href="/download_manual" download>Manual (PDF)</a>
    <br>
    It contains important information about what data you can upload and what happens to it when uploading.
    <br>
    <br>
    
    <h3>Spreadsheet types (NOT GUARANTEED TO BE CORRECT, ask Magnus if you encounter issues):</h3>
    To help you upload correctly formatted meta data sheets that the database will accept, here are some 
    example/template sheets to help you.
    <br> NOTE: The database only accepts “Unicode Text (.txt)” (windows) or “UTF-16 unicode text” (mac), except if you upload Lane Barcodes (then you should upload as .html).    
    <br>
    {% for sheet in example_sheets %} 
    <p><a href="{{ url_for('download_file', filename=sheet) }}" download>{{ sheet }}</a></p>
    {% endfor %} 

    <br>
    <h3>Upload options:</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file to upload:</label>
        <input type="file" name="file" accept=".txt, .html, .csv" required>
        <br>

        <label for="database_table_name">Select spreadsheet type:</label>
        <select name="database_table_name" id="database_table_name" required>
            <option value="">Choose an option...</option>
        {% for key in SHEET_TYPES %} 
            <option value="{{ key }}">{{ SHEET_TYPES[key] }}</option>
        {% endfor %} 
        </select>
        <br>
        
        <label for="date_format">Select date format:</label>
        <select name="date_format" id="date_format" required>
            <option value="">Choose an option...</option> 
            {% for ele in ALLOWED_DATE_FORMATS %}
            <option value="{{ ele }}">{{ ele }}</option>  
            {% endfor %}         
            </select>
        <br>
        
        <label for="decimal_point">Select decimal point character used:</label>
        <select name="decimal_point" id="decimal_point" required>
            <option value="">Choose an option...</option>
            <option value=",">, (comma)</option> 
            <option value=".">. (period)</option>
            <option value="not_relevant">My sheet does not contain decimals</option>
        </select>
        <br>        
        <label for="thousands_seperator">Select thousands seperator used:</label>
        <select name="thousands_seperator" id="thousands_seperator" required>
            <option value="">Choose an option...</option> 
            <option value=",">, (comma)</option>
            <option value=".">. (period)</option> 
            <option value="not_relevant">My sheet does not contain thousands seperators</option>
        </select>
        <br>
        <style>
            .centered {
            margin-left: auto;
            margin-right: auto;
            width: 50%; /* Adjust the width as needed */
        }
        </style>
        <br>
        <br>
        <br>
        <br>
        <div class="centered">
            <button type="submit" onclick="showAlert()">Upload</button>
        </div>
        
    </form>
    <br>

    {% if message %}
        <script>
            // Display an alert box with the message
            alert("{{ message }}");
        </script>
    {% endif %}
    
</body>
</html>
