<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandas DataFrame Display</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Center align content within the container */
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>Almost done...</h1>
        <p>The data was uploaded successfully to the database. 
        Below you can see what the data looks like in the database. 
        Please make sure it is as expected. If not, contact {{ admin_emails }}</p>
        <!-- Embedded DataFrame HTML -->

        {% for tables in uploaded_data %}
            {{ tables|safe }}
        {% endfor %}  
        
    </div>
</body>
</html>